::ng-deep {
    body {
        background: #f2f2f2;
        .ola-user {
            display: block;
            float: none;
            margin: 15% auto;
            color: orange;
            font-family: 'primeicons';
            font-weight: 100;
            font-size: 28pt;
        }
    }
}